<!DOCTYPE html>
<html lang="en" ng-app="TodoListManager">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Todo List Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css "media="screen" href="css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css" />
    <script src="js/angular.min.js"></script>
    <script src="js/ToDoListController.js"></script>
    
</head>
<body>
    <div class="container">
    <div class="row">
    <div id="list1" class="col-md-6" ng-controller='ToDoListController as list1'>
        <br>
        <br>
        <h2>Todo List :</h2>
        <form ng-submit="list1.addNewItem();" >
        <input type="text" class="form-control" onfocus="this.value=''" value="" ng-model="list1.newItem" placeholder="New To Do Item" >
        </form>
        <br>
        <ul class="list-group">
        <li class="list-group-item" ng-repeat="item in list1.items">
            {{ item.name }}
            <br>
            <button type="button" class="btn btn-success btn-xs" ng-click="list1.completeToDoItem($index);">&#10004;</button>
            <button type="button" class="btn btn-danger btn-xs" ng-click="list1.deleteToDoItem($index);">X</button>
        </li>
        </ul>
    </div>
    </div>
    <br>
    <div class="row">
    <div id="list2" class="col-md-6" ng-controller='CompletedItemsController as list2'>
        <h2>Completed :</h2>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in list2.items">
                {{ item.name}}
                <br>
                <button type="button" class="btn btn-danger btn-xs" ng-click="list2.deleteCompletedItem($index);">X</button>
            </li>
        </ul>
    </div>
    </div>
</body>
</html>