<div class="container">
        <div class="row">
          <div id="list1" class="col-md-6" ng-controller='ToDoListController as list1'>
             <br>
             <br>
             <h2>To Do:</h2>
             <form ng-submit="list1.addNewItem();" >
             <input type="text" class="form-control" ng-model="list1.newItem" placeholder="New To Do Item" >
             </form>
             <br>
             <ul class="list-group">
              <li class="list-group-item" ng-repeat="item in list1.items">
                {{ item.name }}
                <button type="button" class="btn btn-success btn-xs" ng-click="list1.completeToDoItem($index);">Complete</button>
                <button type="button" class="btn btn-danger btn-xs" ng-click="list1.deleteToDoItem($index);">Delete</button>
              </li>
            </ul>
          </div>
      </div>
        <div class="row">
          <div id="list2" class="col-md-6" ng-controller='CompletedItemsController as list2'>
             <h2>Completed:</h2>
             <ul class="list-group">
              <li class="list-group-item" ng-repeat="item in list2.items">
                   {{ item.name}}
                   <button type="button" class="btn btn-danger btn-xs" ng-click="list2.deleteCompletedItem($index);">Delete</button>
              </li>
            </ul>
      </div>